@font-face {
  font-family: "Leelawadee UI";
  src: url("") format("embedded-opentype"),
       url("../fonts/Leelawadee_UI-Bold.ttf")  format("truetype"),
       url("../fonts/Leelawadee_UI-Bold.otf") format("opentype");
   font-weight : 700;
   font-style : normal;
}
@font-face {
  font-family: "Leelawadee UI";
  src: url("") format("embedded-opentype"),
       url("../fonts/Leelawadee_UI-Regular.ttf")  format("truetype"),
       url("../fonts/Leelawadee_UI-Regular.otf") format("opentype");
   font-weight : 400;
   font-style : normal;
}