#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Label_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Label_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fec13cc-5eac-49aa-b9a8-59d31ecedacb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}