#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Label_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Label_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-tick_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-tick {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17467b8a-101a-41d3-a1c2-45b1a7aca249 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}