#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}