#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Rectangle_2 {
  position: absolute;
  width: 496px;
  height: 623px;
  background-color: #F5F5F5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F5F5F5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F5F5F5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F5F5F5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F5F5F5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 28.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Text_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Image_7 {
  position: absolute;
  width: 179px;
  height: 74px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Image_8 {
  position: absolute;
  width: 164px;
  height: 68px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Image_9 {
  position: absolute;
  width: 131px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Image_10 {
  position: absolute;
  width: 142px;
  height: 63px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Label_55 {
  position: absolute;
  width: 159px;
  height: 32px;
  background-color: #BD081C;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BD081C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BD081C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BD081C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BD081C;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Label_55 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Label_55 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Label_55 span#rtr-s-Label_55_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Rectangle_17 {
  position: absolute;
  width: 43px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2D2D2D;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2D2D2D;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2D2D2D;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2D2D2D;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Rectangle_17 .valign {
  vertical-align: top;
  text-align: center;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Rectangle_17 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Group_1 {
  position: absolute;
  width: 497px;
  height: 515px;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Image_4 {
  position: absolute;
  width: 496px;
  height: 515px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Image_3 {
  position: absolute;
  width: 496px;
  height: 514px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Text_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}