#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F5F5F5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F5F5F5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F5F5F5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F5F5F5;
  -ms-transform: rotate(0.0deg);
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Label_55 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BD081C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BD081C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BD081C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BD081C;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 159px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2D2D2D;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2D2D2D;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2D2D2D;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2D2D2D;
  -ms-transform: rotate(0.0deg);
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-219bd522-6ce7-43b6-9c64-d61dbc0f50f6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}