#s-299b3aea-b65d-476d-b2e1-308fea2526b0 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Image_4 {
  position: absolute;
  width: 188px;
  height: 97px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Button_4 {
  position: absolute;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Button_4 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Image_15 > svg {
  width: 60px;
  height: 64px;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Image_15 {
  position: absolute;
  width: 58px;
  height: 62px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ACA25;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6ACA25;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA25;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6ACA25;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Image_14 > svg {
  width: 60px;
  height: 64px;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Image_14 {
  position: absolute;
  width: 58px;
  height: 62px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ACA25;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6ACA25;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA25;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6ACA25;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Image_13 {
  position: absolute;
  width: 48px;
  height: 56px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ACA25;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6ACA25;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA25;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6ACA25;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Image_5 {
  position: absolute;
  width: 320px;
  height: 578px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Group_2 {
  position: absolute;
  width: 1366px;
  height: 768px;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Image_6 {
  position: absolute;
  width: 1366px;
  height: 768px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Image_11 {
  position: absolute;
  width: 66px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Group_4 {
  position: absolute;
  width: 112px;
  height: 74px;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Button_5 {
  position: absolute;
  width: 98px;
  height: 60px;
  background-color: #000000;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Button_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Button_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Image_12 {
  position: absolute;
  width: 96px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Image_17 {
  position: absolute;
  width: 288px;
  height: 547px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Button_1 {
  position: absolute;
  width: 222px;
  height: 41px;
  background-color: #000000;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Image_18 {
  position: absolute;
  width: 282px;
  height: 546px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Image_19 {
  position: absolute;
  width: 116px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Image_20 {
  position: absolute;
  width: 116px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Image_21 {
  position: absolute;
  width: 48px;
  height: 56px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ACA25;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6ACA25;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA25;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6ACA25;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Image_22 {
  position: absolute;
  width: 48px;
  height: 56px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ACA25;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6ACA25;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA25;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6ACA25;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 #s-Image_23 {
  position: absolute;
  width: 48px;
  height: 56px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ACA25;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6ACA25;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA25;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6ACA25;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-299b3aea-b65d-476d-b2e1-308fea2526b0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}