#s-38bdd977-c927-43ac-a9a9-9b10c9ec6a87 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 17px 17px 17px 17px;
  -ms-transform: rotate(0.0deg);
}
#s-38bdd977-c927-43ac-a9a9-9b10c9ec6a87 #s-welcomeText {
  -ms-transform: rotate(0.0deg);
}
#s-38bdd977-c927-43ac-a9a9-9b10c9ec6a87 #s-ShopperParadiseLogo {
  -ms-transform: rotate(0.0deg);
}
#s-38bdd977-c927-43ac-a9a9-9b10c9ec6a87 #s-Label_56 {
  -ms-transform: rotate(0.0deg);
}
#s-38bdd977-c927-43ac-a9a9-9b10c9ec6a87 #s-welcomeText_1 {
  -ms-transform: rotate(0.0deg);
}
#s-38bdd977-c927-43ac-a9a9-9b10c9ec6a87 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-38bdd977-c927-43ac-a9a9-9b10c9ec6a87 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-38bdd977-c927-43ac-a9a9-9b10c9ec6a87 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}