#s-48d5a849-1fa2-45a0-a0b3-5d61a2d9a325 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d5a849-1fa2-45a0-a0b3-5d61a2d9a325 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d5a849-1fa2-45a0-a0b3-5d61a2d9a325 #s-Label_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d5a849-1fa2-45a0-a0b3-5d61a2d9a325 #s-Label_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d5a849-1fa2-45a0-a0b3-5d61a2d9a325 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d5a849-1fa2-45a0-a0b3-5d61a2d9a325 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d5a849-1fa2-45a0-a0b3-5d61a2d9a325 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d5a849-1fa2-45a0-a0b3-5d61a2d9a325 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d5a849-1fa2-45a0-a0b3-5d61a2d9a325 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d5a849-1fa2-45a0-a0b3-5d61a2d9a325 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}