#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_55 {
  position: absolute;
  width: 161px;
  height: 24px;
  background-color: #BD081C;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BD081C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BD081C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BD081C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BD081C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_55 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_55 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_55 span#rtr-s-Label_55_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_16 {
  position: absolute;
  width: 43px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2D2D2D;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2D2D2D;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2D2D2D;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2D2D2D;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_16 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_11 {
  position: absolute;
  width: 496px;
  height: 617px;
  background-color: #E9E9E9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F5F5F5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F5F5F5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F5F5F5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F5F5F5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 28.000002pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 28.000002pt;
  font-style: normal;
  font-weight: 700;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 28.000002pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Text_6 span#rtr-s-Text_6_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 28.000002pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_56 {
  position: absolute;
  width: 170px;
  height: 30px;
  background-color: #BD081C;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BD081C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BD081C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BD081C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BD081C;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_56 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_56 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_56 span#rtr-s-Label_56_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Text_7 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Text_7 span#rtr-s-Text_7_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_32 {
  position: absolute;
  width: 174px;
  height: 160px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_32 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_32 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_32 span#rtr-s-Rectangle_32_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_6 {
  position: absolute;
  width: 175px;
  height: 40px;
  background-color: #BD081C;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 14.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_6 span#rtr-s-Rectangle_6_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_33 {
  position: absolute;
  width: 174px;
  height: 160px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_33 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_33 span#rtr-s-Rectangle_33_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_7 {
  position: absolute;
  width: 176px;
  height: 40px;
  background-color: #BD081C;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 14.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_7 span#rtr-s-Rectangle_7_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_34 {
  position: absolute;
  width: 174px;
  height: 160px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_34 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_34 span#rtr-s-Rectangle_34_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_8 {
  position: absolute;
  width: 174px;
  height: 40px;
  background-color: #BD081C;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 14.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_8 span#rtr-s-Rectangle_8_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_35 {
  position: absolute;
  width: 174px;
  height: 160px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_35 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_35 span#rtr-s-Rectangle_35_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_9 {
  position: absolute;
  width: 175px;
  height: 40px;
  background-color: #BD081C;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 14.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_9 span#rtr-s-Rectangle_9_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Group_14 {
  position: absolute;
  width: 202px;
  height: 38px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_36 {
  position: absolute;
  padding-top: 2px;
  width: 51px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_36 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_36 span#rtr-s-Label_36_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_37 {
  position: absolute;
  padding-top: 2px;
  width: 51px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_37 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_37 span#rtr-s-Label_37_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_33 {
  position: absolute;
  padding-top: 2px;
  width: 51px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_33 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_33 span#rtr-s-Label_33_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_35 {
  position: absolute;
  padding-top: 2px;
  width: 51px;
  height: 34px;
  background-color: #BD081C;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_35 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Label_35 span#rtr-s-Label_35_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_36 {
  position: absolute;
  width: 174px;
  height: 160px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_36 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_36 span#rtr-s-Rectangle_36_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_10 {
  position: absolute;
  width: 174px;
  height: 40px;
  background-color: #BD081C;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 14.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_10 span#rtr-s-Rectangle_10_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_37 {
  position: absolute;
  width: 174px;
  height: 160px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_37 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_37 span#rtr-s-Rectangle_37_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_12 {
  position: absolute;
  width: 174px;
  height: 40px;
  background-color: #BD081C;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 14.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_12 span#rtr-s-Rectangle_12_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_13 {
  position: absolute;
  width: 216px;
  height: 39px;
  background-color: #BD081C;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_13 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Text_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed #s-Image_1 {
  position: absolute;
  width: 473px;
  height: 499px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8453ae18-945e-4f55-bdc4-7b900eeaa6ed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}