#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Line_2 {
  rotation: 90.0;
  margin-left: 34px;
  margin-top: -34px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Line_3 {
  rotation: 90.0;
  margin-left: 34px;
  margin-top: -34px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Line_4 {
  rotation: 90.0;
  margin-left: 33px;
  margin-top: -33px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75) ;
  filter: alpha(opacity=75) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b #s-Image_3 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: 0px;
  margin-top: 0px;
}
#s-86c0f091-ca3c-4d23-9da9-61cf9ac5dd4b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}