#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 #s-welcomeText {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 #s-signUpButton {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 #s-ShopperParadiseLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}