#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 #s-welcomeText {
  -ms-transform: rotate(0.0deg);
}
#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 #s-signUpButton {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 229px;
  height: 34px;
  -ms-transform: rotate(0.0deg);
}
#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 #s-ShopperParadiseLogo {
  -ms-transform: rotate(0.0deg);
}
#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8c596d05-55dd-467b-9d4c-ad80b9e3e8a7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}