#s-8f99dcf4-418d-44e7-85b7-464077f3c9e3 #s-Table_1 {
  border-collapse: separate;
}
#s-8f99dcf4-418d-44e7-85b7-464077f3c9e3 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8f99dcf4-418d-44e7-85b7-464077f3c9e3 #s-Label_56 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BD081C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BD081C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BD081C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BD081C;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 170px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-8f99dcf4-418d-44e7-85b7-464077f3c9e3 #s-Label_57 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BD081C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BD081C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BD081C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BD081C;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 49px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-8f99dcf4-418d-44e7-85b7-464077f3c9e3 #s-Label_58 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BD081C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BD081C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BD081C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BD081C;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 49px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-8f99dcf4-418d-44e7-85b7-464077f3c9e3 #s-Table_2 {
  border-collapse: separate;
}
#s-8f99dcf4-418d-44e7-85b7-464077f3c9e3 #s-Table_3 {
  border-collapse: separate;
}
#s-8f99dcf4-418d-44e7-85b7-464077f3c9e3 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8f99dcf4-418d-44e7-85b7-464077f3c9e3 #s-Label_59 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BD081C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BD081C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BD081C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BD081C;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 49px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-8f99dcf4-418d-44e7-85b7-464077f3c9e3 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8f99dcf4-418d-44e7-85b7-464077f3c9e3 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8f99dcf4-418d-44e7-85b7-464077f3c9e3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}