#s-954e4ec8-cfea-40fe-afdd-f766da4ccf3a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-954e4ec8-cfea-40fe-afdd-f766da4ccf3a #s-welcomeText {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-954e4ec8-cfea-40fe-afdd-f766da4ccf3a #s-ShopperParadiseLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-954e4ec8-cfea-40fe-afdd-f766da4ccf3a #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-954e4ec8-cfea-40fe-afdd-f766da4ccf3a #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-954e4ec8-cfea-40fe-afdd-f766da4ccf3a #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-954e4ec8-cfea-40fe-afdd-f766da4ccf3a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-954e4ec8-cfea-40fe-afdd-f766da4ccf3a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-954e4ec8-cfea-40fe-afdd-f766da4ccf3a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}