#s-954e4ec8-cfea-40fe-afdd-f766da4ccf3a #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-954e4ec8-cfea-40fe-afdd-f766da4ccf3a #s-welcomeText {
  -ms-transform: rotate(0.0deg);
}
#s-954e4ec8-cfea-40fe-afdd-f766da4ccf3a #s-ShopperParadiseLogo {
  -ms-transform: rotate(0.0deg);
}
#s-954e4ec8-cfea-40fe-afdd-f766da4ccf3a #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 142px;
  height: 34px;
  -ms-transform: rotate(0.0deg);
}
#s-954e4ec8-cfea-40fe-afdd-f766da4ccf3a #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 142px;
  height: 34px;
  -ms-transform: rotate(0.0deg);
}
#s-954e4ec8-cfea-40fe-afdd-f766da4ccf3a #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-954e4ec8-cfea-40fe-afdd-f766da4ccf3a #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-954e4ec8-cfea-40fe-afdd-f766da4ccf3a #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-954e4ec8-cfea-40fe-afdd-f766da4ccf3a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}