#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_55 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BD081C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BD081C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BD081C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BD081C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 161px;
  height: 24px;
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2D2D2D;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2D2D2D;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2D2D2D;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2D2D2D;
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_36 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_37 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_33 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_35 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_38 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_39 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_34 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_40 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_33 {
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_34 {
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_35 {
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_37 {
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_38 {
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7A7A7A;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7A7A7A;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7A7A7A;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7A7A7A;
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_39 {
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F5F5F5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F5F5F5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F5F5F5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F5F5F5;
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_56 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BD081C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BD081C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BD081C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BD081C;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 170px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_40 {
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Panel_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E9E9E9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E9E9E9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E9E9E9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E9E9E9;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 72px;
  height: 201px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rich_text {
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Icon {
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_36 {
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_41 {
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_42 {
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_19 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}