#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_55 {
  position: absolute;
  width: 161px;
  height: 24px;
  background-color: #BD081C;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BD081C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BD081C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BD081C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BD081C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_55 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_55 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_55 span#rtr-s-Label_55_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_16 {
  position: absolute;
  width: 43px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2D2D2D;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2D2D2D;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2D2D2D;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2D2D2D;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_16 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Text_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Group_14 {
  position: absolute;
  width: 202px;
  height: 38px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_36 {
  position: absolute;
  padding-top: 2px;
  width: 50px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 9.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_36 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_36 span#rtr-s-Label_36_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_37 {
  position: absolute;
  padding-top: 2px;
  width: 50px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_37 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_37 span#rtr-s-Label_37_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_33 {
  position: absolute;
  padding-top: 2px;
  width: 50px;
  height: 34px;
  background-color: #BD081C;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_33 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_33 span#rtr-s-Label_33_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_35 {
  position: absolute;
  padding-top: 2px;
  width: 50px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_35 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_35 span#rtr-s-Label_35_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Group_15 {
  position: absolute;
  width: 202px;
  height: 38px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_38 {
  position: absolute;
  padding-top: 2px;
  width: 51px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_38 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_38 span#rtr-s-Label_38_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_39 {
  position: absolute;
  padding-top: 2px;
  width: 51px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 9.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_39 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_39 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_39 span#rtr-s-Label_39_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_34 {
  position: absolute;
  padding-top: 2px;
  width: 51px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_34 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_34 span#rtr-s-Label_34_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_40 {
  position: absolute;
  padding-top: 2px;
  width: 51px;
  height: 34px;
  background-color: #BD081C;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_40 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_40 span#rtr-s-Label_40_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_33 {
  position: absolute;
  width: 174px;
  height: 160px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_33 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_33 span#rtr-s-Rectangle_33_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_34 {
  position: absolute;
  width: 174px;
  height: 160px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_34 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_34 span#rtr-s-Rectangle_34_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_8 {
  position: absolute;
  width: 174px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_8 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_35 {
  position: absolute;
  width: 166px;
  height: 160px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_35 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_35 span#rtr-s-Rectangle_35_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_9 {
  position: absolute;
  width: 165px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_9 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Group_2 {
  position: absolute;
  width: 569px;
  height: 204px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_37 {
  position: absolute;
  width: 174px;
  height: 160px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_37 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_37 span#rtr-s-Rectangle_37_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_38 {
  position: absolute;
  width: 174px;
  height: 160px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_38 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_38 span#rtr-s-Rectangle_38_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_14 {
  position: absolute;
  width: 174px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7A7A7A;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7A7A7A;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7A7A7A;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7A7A7A;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_14 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_39 {
  position: absolute;
  width: 166px;
  height: 160px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_39 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_39 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_39 span#rtr-s-Rectangle_39_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_15 {
  position: absolute;
  width: 165px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_15 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_11 {
  position: absolute;
  width: 539px;
  height: 670px;
  background-color: #E9E9E9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F5F5F5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F5F5F5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F5F5F5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F5F5F5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 28.000002pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 28.000002pt;
  font-style: normal;
  font-weight: 700;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 28.000002pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Text_6 span#rtr-s-Text_6_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 28.000002pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_56 {
  position: absolute;
  width: 170px;
  height: 30px;
  background-color: #BD081C;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BD081C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BD081C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BD081C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BD081C;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_56 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_56 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Label_56 span#rtr-s-Label_56_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Text_7 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_40 {
  position: absolute;
  width: 174px;
  height: 160px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_40 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_40 span#rtr-s-Rectangle_40_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_17 {
  position: absolute;
  width: 174px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_17 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_10 {
  position: absolute;
  width: 174px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_10 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Pinned-right {
  position: absolute;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Panel_4 {
  width: 72px;
  height: 201px;
  background-color: #BD081C;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E9E9E9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E9E9E9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E9E9E9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E9E9E9;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  box-shadow: -6px 7px 5px -6px #404040;
  cursor: pointer;
  overflow: hidden;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Panel_4 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rich_text {
  position: absolute;
  width: 78px;
  height: 100px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rich_text .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rich_text span {
  color: #F5F5F5;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rich_text span#rtr-s-Rich_text_0 {
  color: #F5F5F5;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Icon {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Dynamic_Panel_1 {
  position: absolute;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Panel_1 {
  width: 511px;
  height: 542px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_36 {
  position: absolute;
  width: 174px;
  height: 160px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_36 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_36 span#rtr-s-Rectangle_36_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_12 {
  position: absolute;
  width: 174px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_12 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_41 {
  position: absolute;
  width: 166px;
  height: 160px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_41 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_41 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_41 span#rtr-s-Rectangle_41_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_18 {
  position: absolute;
  width: 165px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_18 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_42 {
  position: absolute;
  width: 174px;
  height: 160px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_42 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_42 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_42 span#rtr-s-Rectangle_42_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_19 {
  position: absolute;
  width: 174px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_19 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a01be64b-5efb-42f8-b7c0-e556f2b08ce3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}