#s-c2900f68-2eee-4a4a-887e-18d4350b57a9 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2900f68-2eee-4a4a-887e-18d4350b57a9 #s-welcomeText {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2900f68-2eee-4a4a-887e-18d4350b57a9 #s-createNewAccountLabel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2900f68-2eee-4a4a-887e-18d4350b57a9 #s-ShopperParadiseLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2900f68-2eee-4a4a-887e-18d4350b57a9 #s-tosLabel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2900f68-2eee-4a4a-887e-18d4350b57a9 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2900f68-2eee-4a4a-887e-18d4350b57a9 #s-continueButton {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2900f68-2eee-4a4a-887e-18d4350b57a9 #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#simulation {
  overflow: hidden;
}
#s-c2900f68-2eee-4a4a-887e-18d4350b57a9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}