#s-c2900f68-2eee-4a4a-887e-18d4350b57a9 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-c2900f68-2eee-4a4a-887e-18d4350b57a9 #s-welcomeText {
  -ms-transform: rotate(0.0deg);
}
#s-c2900f68-2eee-4a4a-887e-18d4350b57a9 #s-createNewAccountLabel {
  -ms-transform: rotate(0.0deg);
}
#s-c2900f68-2eee-4a4a-887e-18d4350b57a9 #s-ShopperParadiseLogo {
  -ms-transform: rotate(0.0deg);
}
#s-c2900f68-2eee-4a4a-887e-18d4350b57a9 #s-tosLabel {
  -ms-transform: rotate(0.0deg);
}
#s-c2900f68-2eee-4a4a-887e-18d4350b57a9 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=5) progid:DXImageTransform.Microsoft.Alpha(Opacity=5);
  filter: alpha(opacity=5) alpha(opacity=5);
  -ms-transform: rotate(0.0deg);
}
#s-c2900f68-2eee-4a4a-887e-18d4350b57a9 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=5) progid:DXImageTransform.Microsoft.Alpha(Opacity=5);
  filter: alpha(opacity=5) alpha(opacity=5);
  -ms-transform: rotate(0.0deg);
}
#s-c2900f68-2eee-4a4a-887e-18d4350b57a9 #s-continueButton {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 262px;
  height: 34px;
  -ms-transform: rotate(0.0deg);
}
#s-c2900f68-2eee-4a4a-887e-18d4350b57a9 #s-Callout_1 {
  -ms-transform: rotate(0.0deg);
}
#simulation {
  overflow: hidden;
}
#s-c2900f68-2eee-4a4a-887e-18d4350b57a9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}