#s-de87dbe0-3b97-476f-b839-5e1df7925879 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-de87dbe0-3b97-476f-b839-5e1df7925879 #s-welcomeText {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-de87dbe0-3b97-476f-b839-5e1df7925879 #s-ShopperParadiseLogo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-de87dbe0-3b97-476f-b839-5e1df7925879 #s-signUpButton {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-de87dbe0-3b97-476f-b839-5e1df7925879 #s-gender {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-de87dbe0-3b97-476f-b839-5e1df7925879 #s-male {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-de87dbe0-3b97-476f-b839-5e1df7925879 #s-femaleLabel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-de87dbe0-3b97-476f-b839-5e1df7925879 #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#simulation {
  overflow: hidden;
}
#s-de87dbe0-3b97-476f-b839-5e1df7925879 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}