#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-tick {
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Label_36 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Label_37 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Label_33 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Label_35 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_33 {
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_34 {
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_35 {
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-tick_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_36 {
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}