#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-tick {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Label_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-tick_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e13e81b7-90c2-4e15-b6c8-780a2709d05b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}