#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 #s-welcomeText {
  -ms-transform: rotate(0.0deg);
}
#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 #s-ShopperParadiseLogo {
  -ms-transform: rotate(0.0deg);
}
#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 285px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}