#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 > #backgroundBox {
  background-color: #535358;
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/79a1e082-b6c6-4a05-99e4-616606cab960.png');
  position: absolute;
}
#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  max-height: 1024px;
}
#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 #s-Rectangle_1 {
  position: absolute;
  width: 539px;
  height: 499px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 13px 13px 13px 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 #s-welcomeText {
  position: absolute;
  width: 1073px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 #s-welcomeText .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 #s-welcomeText span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 #s-welcomeText span#rtr-s-welcomeText_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 #s-ShopperParadiseLogo {
  position: absolute;
  width: 131px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 #s-Image_2 {
  position: absolute;
  width: 179px;
  height: 156px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 #s-Button_2 {
  position: absolute;
  width: 285px;
  height: 42px;
  background-color: #BD081C;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f45c19d5-ebea-4db7-af81-9f5d92e28688 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}