#s-fde12adb-401b-4301-85ad-7b675858290a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 222px;
  height: 41px;
  -ms-transform: rotate(0.0deg);
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-fde12adb-401b-4301-85ad-7b675858290a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}