#s-fde12adb-401b-4301-85ad-7b675858290a > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-fde12adb-401b-4301-85ad-7b675858290a > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Image_1 {
  position: absolute;
  width: 1381px;
  height: 783px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Image_2 {
  position: absolute;
  width: 66px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Rectangle_1 {
  position: absolute;
  width: 605px;
  height: 597px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Image_5 {
  position: absolute;
  width: 277px;
  height: 559px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Image_4 {
  position: absolute;
  width: 291px;
  height: 562px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Image_9 {
  position: absolute;
  width: 116px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Image_16 {
  position: absolute;
  width: 48px;
  height: 56px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ACA25;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6ACA25;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA25;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6ACA25;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Image_10 {
  position: absolute;
  width: 116px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Image_17 {
  position: absolute;
  width: 48px;
  height: 56px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ACA25;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6ACA25;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA25;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6ACA25;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Button_1 {
  position: absolute;
  width: 222px;
  height: 41px;
  background-color: #000000;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Image_11 {
  position: absolute;
  width: 116px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fde12adb-401b-4301-85ad-7b675858290a #s-Image_18 {
  position: absolute;
  width: 48px;
  height: 56px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ACA25;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6ACA25;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA25;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6ACA25;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-fde12adb-401b-4301-85ad-7b675858290a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}