#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(90.0deg);
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(90.0deg);
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Button_6 {
  -ms-transform: rotate(0.0deg);
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(90.0deg);
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(90.0deg);
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(90.0deg);
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(90.0deg);
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F5F5F5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F5F5F5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F5F5F5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F5F5F5;
  -ms-transform: rotate(0.0deg);
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-saveLook {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 238px;
  height: 44px;
  -ms-transform: rotate(0.0deg);
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-tick {
  -ms-transform: rotate(0.0deg);
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #428BCA;
  -ms-transform: rotate(0.0deg);
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}