#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Line_1 {
  rotation: 90.0;
  margin-left: 34px;
  margin-top: -34px;
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Line_5 {
  rotation: 90.0;
  margin-left: 34px;
  margin-top: -34px;
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Line_6 {
  rotation: 90.0;
  margin-left: 33px;
  margin-top: -33px;
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-saveLook {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-tick {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 #t-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1bb87b91-e2e9-4a28-bb7f-eaf4eef443c6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}