#t-2fb3a813-ea34-4449-a122-67d14589726a > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-Rectangle_1 {
  position: absolute;
  width: 1366px;
  height: 71px;
  background-color: #2D2D2D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-Rectangle_1 span#rtr-t-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-Image_1 {
  position: absolute;
  width: 101px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-Button_1 {
  position: absolute;
  width: 150px;
  height: 70px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-Button_1 span#rtr-t-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-Line_2 {
  position: absolute;
  width: 70px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-ViewLook_Button {
  position: absolute;
  width: 261px;
  height: 70px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-ViewLook_Button .valign {
  vertical-align: middle;
  text-align: center;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-ViewLook_Button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-ViewLook_Button span#rtr-t-ViewLook_Button_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-WardRobe_Button {
  position: absolute;
  width: 246px;
  height: 70px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-WardRobe_Button .valign {
  vertical-align: middle;
  text-align: center;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-WardRobe_Button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-WardRobe_Button span#rtr-t-WardRobe_Button_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-Line_3 {
  position: absolute;
  width: 70px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-Line_4 {
  position: absolute;
  width: 69px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-Group_2 {
  position: absolute;
  width: 1280px;
  height: 42px;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-Rectangle_4 {
  position: absolute;
  width: 1280px;
  height: 42px;
  background-color: #2D2D2D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-Rectangle_4 span#rtr-t-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-Text_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-Text_3 span#rtr-t-Text_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-logoutLabel {
  position: absolute;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 93px;
  height: 24px;
  background-color: #BD081C;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BD081C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BD081C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BD081C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BD081C;
  border-radius: 6px 6px 6px 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: 'Leelawadee UI',Arial;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-logoutLabel .valign {
  vertical-align: middle;
  text-align: center;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-logoutLabel span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a #t-logoutLabel span#rtr-t-logoutLabel_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Leelawadee UI',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-2fb3a813-ea34-4449-a122-67d14589726a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}