#t-30fe90e6-b1ad-4782-8329-0e3b8e047c5f #t-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-30fe90e6-b1ad-4782-8329-0e3b8e047c5f #t-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-30fe90e6-b1ad-4782-8329-0e3b8e047c5f #t-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-30fe90e6-b1ad-4782-8329-0e3b8e047c5f #t-Line_2 {
  rotation: 90.0;
  margin-left: 34px;
  margin-top: -34px;
}
#t-30fe90e6-b1ad-4782-8329-0e3b8e047c5f #t-ViewLook_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-30fe90e6-b1ad-4782-8329-0e3b8e047c5f #t-WardRobe_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-30fe90e6-b1ad-4782-8329-0e3b8e047c5f #t-Line_3 {
  rotation: 90.0;
  margin-left: 34px;
  margin-top: -34px;
}
#t-30fe90e6-b1ad-4782-8329-0e3b8e047c5f #t-Line_4 {
  rotation: 90.0;
  margin-left: 33px;
  margin-top: -34px;
}
#t-30fe90e6-b1ad-4782-8329-0e3b8e047c5f #t-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-30fe90e6-b1ad-4782-8329-0e3b8e047c5f #t-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-30fe90e6-b1ad-4782-8329-0e3b8e047c5f #t-logoutLabel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-30fe90e6-b1ad-4782-8329-0e3b8e047c5f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}