#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(90.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(90.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Button_6 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(90.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(90.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(90.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(90.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F5F5F5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F5F5F5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F5F5F5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F5F5F5;
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Text_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 238px;
  height: 44px;
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2D2D2D;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2D2D2D;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2D2D2D;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2D2D2D;
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #428BCA;
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_14 {
  border-top-width: 4px;
  border-top-style: dashed;
  border-top-color: #666666;
  border-right-width: 4px;
  border-right-style: dashed;
  border-right-color: #666666;
  border-bottom-width: 4px;
  border-bottom-style: dashed;
  border-bottom-color: #666666;
  border-left-width: 4px;
  border-left-style: dashed;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_29 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_30 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_31 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_36 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_38 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_39 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_40 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_41 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_42 {
  border-top-width: 4px;
  border-top-style: dashed;
  border-top-color: #666666;
  border-right-width: 4px;
  border-right-style: dashed;
  border-right-color: #666666;
  border-bottom-width: 4px;
  border-bottom-style: dashed;
  border-bottom-color: #666666;
  border-left-width: 4px;
  border-left-style: dashed;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_43 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_44 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_45 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_46 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2D2D2D;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2D2D2D;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2D2D2D;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2D2D2D;
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Image_11 {
  -ms-transform: rotate(7.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf #t-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}