#t-e38e0e53-f728-4eb2-90f1-26ed222cd7da #t-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#t-e38e0e53-f728-4eb2-90f1-26ed222cd7da #t-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#t-e38e0e53-f728-4eb2-90f1-26ed222cd7da #t-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#t-e38e0e53-f728-4eb2-90f1-26ed222cd7da #t-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(90.0deg);
}
#t-e38e0e53-f728-4eb2-90f1-26ed222cd7da #t-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(90.0deg);
}
#t-e38e0e53-f728-4eb2-90f1-26ed222cd7da #t-ViewLook_Button {
  -ms-transform: rotate(0.0deg);
}
#t-e38e0e53-f728-4eb2-90f1-26ed222cd7da #t-WardRobe_Button {
  -ms-transform: rotate(0.0deg);
}
#t-e38e0e53-f728-4eb2-90f1-26ed222cd7da #t-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(90.0deg);
}
#t-e38e0e53-f728-4eb2-90f1-26ed222cd7da #t-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(90.0deg);
}
#t-e38e0e53-f728-4eb2-90f1-26ed222cd7da #t-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(90.0deg);
}
#t-e38e0e53-f728-4eb2-90f1-26ed222cd7da #t-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(90.0deg);
}
#t-e38e0e53-f728-4eb2-90f1-26ed222cd7da #t-logoutLabel {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BD081C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BD081C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BD081C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BD081C;
  border-radius: 6px 6px 6px 6px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 93px;
  height: 24px;
  -ms-transform: rotate(0.0deg);
}
#t-e38e0e53-f728-4eb2-90f1-26ed222cd7da #t-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#t-e38e0e53-f728-4eb2-90f1-26ed222cd7da #t-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#t-e38e0e53-f728-4eb2-90f1-26ed222cd7da #t-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#t-e38e0e53-f728-4eb2-90f1-26ed222cd7da > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}