<html>
  <body>
    <div class="ui-page">
         <div id="t-242fd4df-50bc-4e37-9039-45779075e4be" class="template growth-both firer commentable non-processed" name="Zalora Template" width="" height="">
         <div id="backgroundBox"></div>
         <div id="alignmentBox" class="left">
           <link type="text/css" rel="stylesheet" href="./resources/templates/242fd4df-50bc-4e37-9039-45779075e4be-1522605978610.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/242fd4df-50bc-4e37-9039-45779075e4be-1522605978610-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/242fd4df-50bc-4e37-9039-45779075e4be-1522605978610-ie8.css" /><![endif]-->
           <img id="t-Image_4" class="image firer ie-background commentable non-processed"   datasizewidth="188px" datasizeheight="97px" dataX="703" dataY="-145"   alt="image" src="./images/592b6b39-911e-462a-b673-be76e31db1a4.png"/>
           <div id="t-Button_4" class="pie button singleline firer commentable non-processed"   datasizewidth="68px" datasizeheight="29px" dataX="951" dataY="-71" ><div class="content"><div class="valign"><span id="rtr-t-Button_4_0">Next</span></div></div></div>
           <div id="t-Image_15" class="image firer pageload ie-background commentable non-processed"   datasizewidth="60px" datasizeheight="64px" dataX="1176" dataY="512"   alt="image" systemName="./images/369d9fda-1053-4236-ae5c-45a1f08ced0c.svg" overlay="#7D7D7D">
               <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg>
           </div>
           <div id="t-Image_14" class="image firer pageload ie-background commentable non-processed"   datasizewidth="60px" datasizeheight="64px" dataX="873" dataY="512"   alt="image" systemName="./images/369d9fda-1053-4236-ae5c-45a1f08ced0c.svg" overlay="#7D7D7D">
               <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg>
           </div>
           <div id="t-Group_1" class="group firer ie-background commentable non-processed" datasizewidth="1366px" datasizeheight="768px" dataX="-1" dataY="0" >
             <img id="t-Image_1" class="image firer ie-background commentable non-processed"   datasizewidth="1366px" datasizeheight="768px" dataX="0" dataY="0"   alt="image" src="./images/e8543a57-ffc9-4814-a769-07536e6b8c4d.PNG"/>

             <img id="t-Image_2" class="image firer ie-background commentable non-processed"   datasizewidth="66px" datasizeheight="39px" dataX="1281" dataY="21"   alt="image" src="./images/592b6b39-911e-462a-b673-be76e31db1a4.png"/>

             <img id="t-Image_5" class="image firer ie-background commentable non-processed"   datasizewidth="292px" datasizeheight="554px" dataX="344" dataY="165"   alt="image" src="./images/044e80c2-de3d-4575-ab47-a5c8ba0d3154.png"/>
           </div>

           <img id="t-Image_3" class="image firer ie-background commentable non-processed"   datasizewidth="296px" datasizeheight="550px" dataX="656" dataY="178"   alt="image" src="./images/6f11a735-c3c5-4fbb-bef2-58cd31ce09bf.png"/>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>