<html>
  <body>
    <div class="ui-page">
         <div id="t-30fe90e6-b1ad-4782-8329-0e3b8e047c5f" class="template growth-both firer commentable non-processed" name="WardRobeNavBarTemplate" width="" height="">
         <div id="backgroundBox"></div>
         <div id="alignmentBox" class="left">
           <link type="text/css" rel="stylesheet" href="./resources/templates/30fe90e6-b1ad-4782-8329-0e3b8e047c5f-1522596677790.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/30fe90e6-b1ad-4782-8329-0e3b8e047c5f-1522596677790-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/30fe90e6-b1ad-4782-8329-0e3b8e047c5f-1522596677790-ie8.css" /><![endif]-->
           <div id="t-Rectangle_1" class="rectangle firer commentable non-processed"   datasizewidth="1366px" datasizeheight="71px" dataX="0" dataY="-1" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_1_0"></span>
               </div>
             </div>
            </div>
           </div>

           <img id="t-Image_1" class="image firer click ie-background commentable non-processed"   datasizewidth="101px" datasizeheight="59px" dataX="113" dataY="6"   alt="image" src="./images/592b6b39-911e-462a-b673-be76e31db1a4.png"/>
           <div id="t-Button_1" class="button singleline firer click mouseenter mouseleave ie-background commentable non-processed"   datasizewidth="150px" datasizeheight="70px" dataX="278" dataY="0" ><div class="content"><div class="valign"><span id="rtr-t-Button_1_0">HOME</span></div></div></div>
           <div id="t-Line_2" class="line shape non-processed-shape firer ie-background commentable non-processed" path="M 0 1 L 70 1" startMarker="none" endMarker="none" rotationdeg="90"  datasizewidth="70px" datasizeheight="2px" dataX="648" dataY="34" >
           </div>
           <div id="t-ViewLook_Button" class="button singleline firer mouseenter mouseleave click ie-background commentable non-processed"   datasizewidth="261px" datasizeheight="70px" dataX="428" dataY="0" ><div class="content"><div class="valign"><span id="rtr-t-ViewLook_Button_0">VIEW LOOKS</span></div></div></div>
           <div id="t-WardRobe_Button" class="button singleline firer mouseenter mouseleave click commentable non-processed"   datasizewidth="246px" datasizeheight="70px" dataX="683" dataY="0" ><div class="content"><div class="valign"><span id="rtr-t-WardRobe_Button_0">WARDROBE</span></div></div></div>
           <div id="t-Line_3" class="line shape non-processed-shape firer ie-background commentable non-processed" path="M 0 1 L 70 1" startMarker="none" endMarker="none" rotationdeg="90"  datasizewidth="70px" datasizeheight="2px" dataX="393" dataY="34" >
           </div>
           <div id="t-Line_4" class="line shape non-processed-shape firer ie-background commentable non-processed" path="M 0 1 L 69 1" startMarker="none" endMarker="none" rotationdeg="90"  datasizewidth="69px" datasizeheight="2px" dataX="895" dataY="34" >
           </div>
           <div id="t-Group_2" class="group firer ie-background commentable non-processed" datasizewidth="1280px" datasizeheight="42px" dataX="0" dataY="894" >
             <div id="t-Rectangle_4" class="rectangle firer commentable non-processed"   datasizewidth="1280px" datasizeheight="42px" dataX="0" dataY="0" >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_4_0"></span>
                 </div>
               </div>
              </div>
             </div>
             <div id="t-Text_3" class="label singleline autofit firer ie-background commentable non-processed"   datasizewidth="260px" datasizeheight="21px" dataX="490" dataY="10" ><div class="content"><div class="valign"><span id="rtr-t-Text_3_0">&copy; 2018 Shopper's Paradise Pte Ltd</span></div></div></div>
           </div>
           <div id="t-logoutLabel" class="pie label singleline firer click mouseenter mouseleave commentable non-processed"   datasizewidth="107px" datasizeheight="38px" dataX="1129" dataY="18" ><div class="content"><div class="valign"><span id="rtr-t-logoutLabel_0">LOG OUT</span></div></div></div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>