<html>
  <body>
    <div class="ui-page">
         <div id="t-c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf" class="template growth-both firer commentable non-processed" name="wardrobe-duplicate" width="" height="">
         <div id="backgroundBox"></div>
         <div id="alignmentBox" class="left">
           <link type="text/css" rel="stylesheet" href="./resources/templates/c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf-1522596677790.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf-1522596677790-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/c2e2c4b8-30f8-4731-9d47-e321b2b1f8cf-1522596677790-ie8.css" /><![endif]-->
           <div id="t-Rectangle_3" class="rectangle firer commentable non-processed"   datasizewidth="1366px" datasizeheight="70px" dataX="2" dataY="0" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_3_0"></span>
               </div>
             </div>
            </div>
           </div>

           <img id="t-Image_5" class="image firer ie-background commentable non-processed"   datasizewidth="134px" datasizeheight="89px" dataX="118" dataY="-19"   alt="image" src="./images/592b6b39-911e-462a-b673-be76e31db1a4.png"/>
           <div id="t-Button_2" class="button singleline firer mouseenter mouseleave ie-background commentable non-processed"   datasizewidth="150px" datasizeheight="70px" dataX="268" dataY="0" ><div class="content"><div class="valign"><span id="rtr-t-Button_2_0">HOME</span></div></div></div>
           <div id="t-Line_1" class="line shape non-processed-shape firer ie-background commentable non-processed" path="M 0 1 L 70 1" startMarker="none" endMarker="none" rotationdeg="90"  datasizewidth="70px" datasizeheight="2px" dataX="643" dataY="36" >
           </div>
           <div id="t-Button_5" class="button singleline firer mouseenter mouseleave ie-background commentable non-processed"   datasizewidth="261px" datasizeheight="70px" dataX="417" dataY="0" ><div class="content"><div class="valign"><span id="rtr-t-Button_5_0">VIEW LOOKS</span></div></div></div>
           <div id="t-Button_6" class="button singleline firer mouseenter mouseleave commentable non-processed"   datasizewidth="246px" datasizeheight="70px" dataX="680" dataY="0" ><div class="content"><div class="valign"><span id="rtr-t-Button_6_0">WARDROBE</span></div></div></div>
           <div id="t-Line_5" class="line shape non-processed-shape firer ie-background commentable non-processed" path="M 0 1 L 70 1" startMarker="none" endMarker="none" rotationdeg="90"  datasizewidth="70px" datasizeheight="2px" dataX="384" dataY="33" >
           </div>
           <div id="t-Line_6" class="line shape non-processed-shape firer ie-background commentable non-processed" path="M 0 1 L 69 1" startMarker="none" endMarker="none" rotationdeg="90"  datasizewidth="69px" datasizeheight="2px" dataX="892" dataY="35" >
           </div>
           <div id="t-Rectangle_4" class="rectangle firer commentable non-processed"   datasizewidth="567px" datasizeheight="597px" dataX="819" dataY="313" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_4_0"></span>
               </div>
             </div>
            </div>
           </div>

           <img id="t-Image_6" class="image firer ie-background commentable non-processed"   datasizewidth="407px" datasizeheight="594px" dataX="165" dataY="108"   alt="image" src="./images/530168ac-96a5-418d-8247-857d280ab2cc.jpg"/>
           <div id="t-Text_5" class="pie label singleline firer click commentable non-processed"   datasizewidth="252px" datasizeheight="58px" dataX="243" dataY="722" ><div class="content"><div class="valign"><span id="rtr-t-Text_5_0">Save This Look</span></div></div></div>
           <div id="t-Rectangle_8" class="rectangle firer ie-background commentable non-processed"   datasizewidth="66px" datasizeheight="43px" dataX="561" dataY="638" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_8_0">+</span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Image_7" class="image firer pageload ie-background commentable non-processed"   datasizewidth="79px" datasizeheight="79px" dataX="329" dataY="713"   alt="image" systemName="./images/369d9fda-1053-4236-ae5c-45a1f08ced0c.svg" overlay="#7D7D7D">
               <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg>
           </div>
           <div id="t-Rectangle_12" class="rectangle firer click commentable non-processed"   datasizewidth="528px" datasizeheight="56px" dataX="730" dataY="107" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_12_0">Currently Selected Products</span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_13" class="rectangle firer ie-background commentable non-processed"   datasizewidth="109px" datasizeheight="39px" dataX="729" dataY="177" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_13_0">All</span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_14" class="rectangle firer ie-background commentable non-processed"   datasizewidth="263px" datasizeheight="168px" dataX="730" dataY="231" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_14_0"></span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_20" class="rectangle firer ie-background commentable non-processed"   datasizewidth="116px" datasizeheight="38px" dataX="850" dataY="177" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_20_0">Tops</span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_21" class="rectangle firer ie-background commentable non-processed"   datasizewidth="127px" datasizeheight="38px" dataX="983" dataY="177" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_21_0">Pants</span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_22" class="rectangle firer ie-background commentable non-processed"   datasizewidth="132px" datasizeheight="38px" dataX="1126" dataY="177" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_22_0">Accessories</span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_29" class="rectangle firer commentable non-processed"   datasizewidth="127px" datasizeheight="136px" dataX="740" dataY="244" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_29_0"></span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_30" class="rectangle firer ie-background commentable non-processed"   datasizewidth="108px" datasizeheight="133px" dataX="870" dataY="243" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_30_0">Burton</span><span id="rtr-t-Rectangle_30_1"> </span><span id="rtr-t-Rectangle_30_2"><br /></span><span id="rtr-t-Rectangle_30_3">White Muscle Polo</span><span id="rtr-t-Rectangle_30_4"><br /></span><span id="rtr-t-Rectangle_30_5">Sold by Zalora</span><span id="rtr-t-Rectangle_30_6"><br /></span><span id="rtr-t-Rectangle_30_7">S$29.90</span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_31" class="rectangle firer ie-background commentable non-processed"   datasizewidth="257px" datasizeheight="162px" dataX="1001" dataY="230" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_31_0"></span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_36" class="rectangle firer commentable non-processed"   datasizewidth="127px" datasizeheight="136px" dataX="1011" dataY="243" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_36_0"></span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_38" class="rectangle firer ie-background commentable non-processed"   datasizewidth="108px" datasizeheight="133px" dataX="1141" dataY="242" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_38_0">ESPRIT</span><span id="rtr-t-Rectangle_38_1"> </span><span id="rtr-t-Rectangle_38_2"><br /></span><span id="rtr-t-Rectangle_38_3">Woven Regular Pants</span><span id="rtr-t-Rectangle_38_4"><br /></span><span id="rtr-t-Rectangle_38_5">Sold by Zalora</span><span id="rtr-t-Rectangle_38_6"><br /></span><span id="rtr-t-Rectangle_38_7">S$99.90</span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_39" class="rectangle firer ie-background commentable non-processed"   datasizewidth="257px" datasizeheight="172px" dataX="730" dataY="425" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_39_0"></span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_40" class="rectangle firer commentable non-processed"   datasizewidth="127px" datasizeheight="146px" dataX="740" dataY="438" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_40_0"></span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_41" class="rectangle firer ie-background commentable non-processed"   datasizewidth="108px" datasizeheight="143px" dataX="870" dataY="437" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_41_0">Zalora</span><span id="rtr-t-Rectangle_41_1"> </span><span id="rtr-t-Rectangle_41_2"><br /></span><span id="rtr-t-Rectangle_41_3">Hooded Logo Pullover</span><span id="rtr-t-Rectangle_41_4"><br /></span><span id="rtr-t-Rectangle_41_5">Sold by Zalora</span><span id="rtr-t-Rectangle_41_6"><br /></span><span id="rtr-t-Rectangle_41_7">S$39.90</span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_42" class="rectangle firer ie-background commentable non-processed"   datasizewidth="263px" datasizeheight="178px" dataX="730" dataY="631" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_42_0"></span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_43" class="rectangle firer commentable non-processed"   datasizewidth="127px" datasizeheight="144px" dataX="740" dataY="645" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_43_0"></span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_44" class="rectangle firer ie-background commentable non-processed"   datasizewidth="108px" datasizeheight="141px" dataX="870" dataY="644" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_44_0">Zalora</span><span id="rtr-t-Rectangle_44_1"> </span><span id="rtr-t-Rectangle_44_2"><br /></span><span id="rtr-t-Rectangle_44_3">Smart Woven Joggers</span><span id="rtr-t-Rectangle_44_4"><br /></span><span id="rtr-t-Rectangle_44_5">Sold by Zalora</span><span id="rtr-t-Rectangle_44_6"><br /></span><span id="rtr-t-Rectangle_44_7">S$29.90</span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_45" class="rectangle firer ie-background commentable non-processed"   datasizewidth="257px" datasizeheight="172px" dataX="1001" dataY="425" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_45_0"></span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_46" class="rectangle firer ie-background commentable non-processed"   datasizewidth="108px" datasizeheight="141px" dataX="1076" dataY="434" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_46_0">Add Item</span>
               </div>
             </div>
            </div>
           </div>

           <img id="t-Image_8" class="image firer click ie-background commentable non-processed"   datasizewidth="112px" datasizeheight="116px" dataX="747" dataY="254"   alt="image" src="./images/c424ef78-1182-443e-8286-72e1a506d7f7.png"/>

           <img id="t-Image_9" class="image firer ie-background commentable non-processed"   datasizewidth="114px" datasizeheight="115px" dataX="747" dataY="662"   alt="image" src="./images/87128def-b8ca-4c8f-929c-64eec8e14e92.png"/>

           <img id="t-Image_1" class="image firer ie-background commentable non-processed"   datasizewidth="126px" datasizeheight="123px" dataX="740" dataY="448"   alt="image" src="./images/1e54dd89-36d7-4733-95c0-1d145460f485.png"/>

           <img id="t-Image_2" class="image firer ie-background commentable non-processed"   datasizewidth="113px" datasizeheight="113px" dataX="1017" dataY="256"   alt="image" src="./images/554dde7b-50f7-4f3a-9c30-03a6db20bfc3.png"/>
           <div id="t-Text_3" class="label singleline autofit firer ie-background commentable non-processed"   datasizewidth="249px" datasizeheight="45px" dataX="400" dataY="149" ><div class="content"><div class="valign"><span id="rtr-t-Text_3_0">Outfit Total Cost</span></div></div></div>
           <div id="t-Text_4" class="label singleline autofit firer ie-background commentable non-processed"   datasizewidth="180px" datasizeheight="65px" dataX="473" dataY="192" ><div class="content"><div class="valign"><span id="rtr-t-Text_4_0">S$50.00</span></div></div></div>
           <div id="t-Rectangle_7" class="rectangle firer ie-background commentable non-processed"   datasizewidth="66px" datasizeheight="43px" dataX="149" dataY="638" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_7_0">-</span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_1" class="rectangle firer commentable non-processed"   datasizewidth="195px" datasizeheight="400px" dataX="260" dataY="226" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_1_0"></span>
               </div>
             </div>
            </div>
           </div>

           <img id="t-Image_4" class="image firer ie-background commentable non-processed"   datasizewidth="262px" datasizeheight="260px" dataX="227" dataY="177"   alt="image" src="./images/1e54dd89-36d7-4733-95c0-1d145460f485.png"/>

           <img id="t-Image_11" class="image firer ie-background commentable non-processed"   datasizewidth="281px" datasizeheight="281px" dataX="221" dataY="384"  rotationdeg="7" alt="image" src="./images/554dde7b-50f7-4f3a-9c30-03a6db20bfc3.png"/>

           <img id="t-Image_10" class="image firer ie-background commentable non-processed"   datasizewidth="218px" datasizeheight="223px" dataX="530" dataY="334"   alt="image" src="./images/c424ef78-1182-443e-8286-72e1a506d7f7.png"/>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>